@page
@using SommerHusProjekt.Model07
@using SommerhusSite.Services
@model SommerhusSite.Pages.Profil.IndexModel
@{
    User loggedInUser = SessionHelper.Get<User>(HttpContext);
}

<div class="container ProfileBox">
    <div class="ProfileBoxHeader">
        <h2 class="textv1">Din Profil</h2>
    </div>
    <div class="ProfileUserInfo justify-content-center">
        <div class="col-12 row d-flex">
            <div class="col-12 row d-flex">
                <div class="col-12 ProfileUserTextBox">
                    <p>Navn: </p>
                </div>
                <div class="col-12 ProfileUserForm d-flex">
                    <div class="col-6">
                        <output >@loggedInUser.FirstName</output>
                    </div>
                    <div class="col-6">
                        <output >@loggedInUser.LastName</output>
                    </div>
                </div>
            </div>
            <div class="col-12 row d-flex">
                <div class="col-12 ProfileUserTextBox">
                    <p>Email: </p>
                </div>
                <div class="col-12 ProfileUserForm d-flex">
                    <output>@loggedInUser.Email</output>
                </div>
            </div>
            <div class="col-12 row d-flex">
                <div class="col-12 ProfileUserTextBox">
                    <p>Telefon: </p>
                </div>
                <div class="col-12 ProfileUserForm d-flex">
                    <output>@loggedInUser.Phone</output>
                </div>
            </div>
            <div class="col-lg-6 row d-flex" style="margin-right: 10px;">
                <div class="col-12 ProfileUserTextBox">
                    <p>Vej Navn:</p>
                </div>
                <div class="col-12 ProfileUserForm d-flex">
                    <div class="col-12">
                        <output>@loggedInUser.StreetName</output>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 row d-flex" style="margin-right: 10px;">
                <div class="col-12 ProfileUserTextBox">
                    <p>By:</p>
                </div>
                <div class="col-12 ProfileUserForm d-flex">
                    <div class="col-12">
                        <output>@loggedInUser.City</output>
                    </div>
                </div>
            </div>
            <div class="col-6 row d-flex" style="margin-right: 10px;">
                <div class="col-12 ProfileUserTextBox">
                    <p>Vej Nr: </p>
                </div>
                <div class="col-12 ProfileUserForm d-flex">
                    <div class="col-12">
                        <output>@loggedInUser.HouseNumber</output>
                    </div>
                </div>
            </div>
            <div class="col-6 row d-flex" style="margin-right: 10px;">
                <div class="col-12 ProfileUserTextBox">
                    <p>Post Nr: </p>
                </div>
                <div class="col-12 ProfileUserForm d-flex">
                    <div class="col-12">
                        <output>@loggedInUser.PostalCode</output>
                    </div>
                </div>
            </div>

            <div class="col-5 row d-flex" style="margin-right: 10px;">
                <div class="col-12 ProfileUserTextBox">
                    <p>Id:</p>
                </div>
                <div class="col-12 ProfileUserForm d-flex">
                    <div class="col-12">
                        <output>@loggedInUser.Id</output>
                    </div>
                </div>
            </div>
            <div class="col-7 row d-flex">
                <div class="col-12 ProfileUserTextBox">
                    <p>Udlejer:</p>
                </div>
                <div class="col-12 ProfileUserForm d-flex">
                    <div class="col-12">
                        <output>@(loggedInUser.IsLandlord ? "Ja" : "Nej")</output>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <form action="/Profil/ProfileEdit" class="justify-content-center d-flex" style="width: 100%; margin-top: 17px;">
                    <input type="submit" value="Rediger Profil" class="btn btn-outline-dark btnSpecial rounded-pill" style="width: 50%;"/>
                </form>
            </div>
        </div>
    </div>
</div>