@page
@using SommerHusProjekt.Model07
@using SommerhusSite.Services
@model SommerhusSite.Pages.Profil.ProfileEditModel
@{
    User loggedInUser = SessionHelper.Get<User>(HttpContext);
}

<form method="post">
    <div class="container ProfileBox">
        <div class="ProfileBoxHeader">
            <h2 class="textv1">Redigere i Profil</h2>
        </div>
        <div class="ProfileUserInfo align-content-center justify-content-center">
            <div class="col-12 row d-flex">
                <div class="col-12 row d-flex">
                    @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
                    {
                        <div class="alert alert-danger">
                            @Model.ErrorMessage
                        </div>
                    }
                    <div class="col-12 ProfileUserTextBox">
                        <p>Navn: </p>
                    </div>
                    <div class="col-12 ProfileUserForm d-flex">
                        <span asp-validation-for="UpdatedFirstName"></span>
                        <div class="col-6">
                            <input type="text" class="input-field1" asp-for="@Model.UpdatedFirstName"/>
                        </div>
                        <span asp-validation-for="UpdatedLastName"></span>
                        <div class="col-6">
                            <input type="text" class="input-field1" asp-for="@Model.UpdatedLastName" />
                        </div>
                    </div>
                </div>
                <div class="col-12 row d-flex">
                    <div class="col-12 ProfileUserTextBox">
                        <p>Email: </p>
                    </div>
                    <span asp-validation-for="UpdatedEmail"></span>
                    <div class="col-12 ProfileUserForm d-flex">
                        <input id="inputEmail" class="input-field1" type="email" asp-for="@Model.UpdatedEmail" />
                    </div>
                </div>
                <div class="col-12 row d-flex">
                    <div class="col-12 ProfileUserTextBox">
                        <p>Adgangskode: </p>
                    </div>
                    <span asp-validation-for="UpdatedPassword"></span>
                    <div class="col-12 ProfileUserForm d-flex">
                        <input id="inputPassword" class="input-field1" type="password" asp-for="@Model.UpdatedPassword" />
                    </div>
                </div>
                <div class="col-12 row d-flex">
                    <div class="col-12 ProfileUserTextBox">
                        <p>Telefon: </p>
                    </div>
                    <span asp-validation-for="UpdatedPhone"></span>
                    <div class="col-12 ProfileUserForm d-flex">
                        <input type="number" class="input-field1" asp-for="@Model.UpdatedPhone" />
                    </div>
                </div>
                <div class="col-lg-6 row d-flex" style="margin-right: 10px;">
                    <div class="col-12 ProfileUserTextBox">
                        <p>Vej Navn:</p>
                    </div>
                    <div class="col-12 ProfileUserForm d-flex">
                        <span asp-validation-for="UpdatedStreetName"></span>
                        <div class="col-12">
                            <input type="text" class="input-field1" asp-for="@Model.UpdatedStreetName" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 row d-flex" style="margin-right: 10px;">
                    <div class="col-12 ProfileUserTextBox">
                        <p>Etage:</p>
                    </div>
                    <div class="col-12 ProfileUserForm d-flex">
                        <span asp-validation-for="UpdatedFloor"></span>
                        <div class="col-12">
                            <input type="number" class="input-field1" asp-for="@Model.UpdatedFloor" />
                        </div>
                    </div>
                </div>
                <div class="col-6 row d-flex" style="margin-right: 10px;">
                    <div class="col-12 ProfileUserTextBox">
                        <p>Hus Nr: </p>
                    </div>
                    <div class="col-12 ProfileUserForm d-flex">
                        <span asp-validation-for="UpdatedHouseNumber"></span>
                        <div class="col-12">
                            <input type="number" class="input-field1" asp-for="@Model.UpdatedHouseNumber" />
                        </div>
                    </div>
                </div>
                <div class="col-6 row d-flex" style="margin-right: 10px;">
                    <div class="col-12 ProfileUserTextBox">
                        <p>Post Nr: </p>
                    </div>
                    <div class="col-12 ProfileUserForm d-flex">
                        <span asp-validation-for="UpdatedPostalCode"></span>
                        <div class="col-12">
                            <input type="number" class ="input-field1" asp-for="@Model.UpdatedPostalCode" />
                        </div>
                    </div>
                </div>

                <div class="col-5 row d-flex" style="margin-right: 10px;">
                    <div class="col-12 ProfileUserTextBox">
                        <p>Id:</p>
                    </div>
                    <div class="col-12 ProfileUserForm d-flex">
                        <div class="col-12">
                            <output>@loggedInUser.Id</output>
                        </div>
                    </div>
                </div>
                <div class="col-7 row d-flex">
                    <div class="col-12 ProfileUserTextBox">
                        <p>Udlejer:</p>
                    </div>
                    <div class="col-12 ProfileUserForm d-flex">
                        <div class="col-12 align-content-center">
                            <input type="checkbox" asp-for="@Model.UpdatedIsLandLord"/>
                        </div>
                    </div>
                </div>
                <div class="col-12 row d-flex justify-content-center">
                    <div class="col-6">
                        <input id="submitButton" type="submit" value="Update" class="btn btn-outline-dark btnSpecial rounded-pill" style="margin-top: 15px; width: 100%;" asp-page-handler="Update" asp-route-id="@loggedInUser.Id"/>
                    </div>
                    <div class="col-6">
                        <input type="submit" value="Cancel" class="btn btn-danger btn-outline-dark rounded-pill" style="margin-top: 15px; width: 100%;" asp-page-handler="Cancel" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>