@page
@model IndexModel
@{
    ViewData["Title"] = "";
}



<div class="row justify-content-evenly gap-5">

    @foreach (var SommerHuse in Model.Huse)
    {

        {
            <div class="row justify-content-evenly gap-5">
                <div class="card my-2 p-2" style="width: 20em; height: 32em; background: whitesmoke;">
                    <div>
                        <div class="col-12 justify-content-center">
                            <img class="card-img-top rounded-2" src="@SommerHuse.Picture" style="width: 100%; height: 14em; justify-content: center;">
                        </div>

                        <div class="card-subtitle my-2">
                            <h2 id="outputLocation">@SommerHuse.City</h2>
                            <h4 id="outputPrice">@SommerHuse.StreetName</h4>
                            <h4 id="outputPrice">@SommerHuse.DateFrom</h4>
                            <h4 id="outputPrice">@SommerHuse.DateTo</h4>
                            <h4 id="outputPrice">@SommerHuse.Price</h4>
                        </div>
                        <div class="card-body text-black">
                            <h5>@SommerHuse.Description</h5>
                            <p id="outputText"></p>
                            <div class="d-flex justify-content-around text-white">
                                <a asp-page="/BookingSite/Index" asp-route-summerhouseId="@SommerHuse.Id" class="btn btn-outline-dark rounded-pill" style="background: #DEE50F; border: 2px dimgrey; width: 50%;">BESTIL</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @* <div class="card bg-dark" style="width: 20em">
                <div>
                    <div class="container p-5 my-5">
                        <div class="card-subtitle ">
                            <h2 class="gradient-text">@cars.Brand</h2>
                            <h3 class="gradient-text">@cars.Name</h3>
                        </div>
                        <div class="card-body text-white">
                            <ul>
                                <li><p>Motor type: @cars.EngineType </p></li>
                                <li><p>Gear Kasse: @cars.ShiftType</p></li>
                                <li><p>Lokation: @cars.Location</p></li>
                                <li><p>Pris: @cars.Price Kr.</p></li>
                            </ul>
                            <div class="d-grid">
                                <a class="btn btn-block bestil" asp-page="Bestilling" asp-route-licensplate="@cars.LicensePlate">BESTIL</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        } *@

    }

}