@page
@model IndexModel
@{
    ViewData["Title"] = "";
}

<div class="form-selectt rounded-2">
    <form method="post" class="border border-success rounded">
        <input type="submit" asp-page-handler="Search" value="Søg" class="btn btn-success" />
        Vejnavn <input type="text" asp-for="@Model.SearchStreetName" />
        Husnummer <input type="text" asp-for="@Model.SearchHouseNumber" />
        Etage <input type="text" asp-for="@Model.SearchFloor" />
        Postnummer  <input type="text" asp-for="@Model.SearchPostalCode" />
        Pris <input type="text" asp-for="@Model.SearchPrice" />
        Antal Gæster <input type="text" asp-for="@Model.SearchAmountSleepingSpace" />
        Dato Fra <input type="text" asp-for="@Model.SearchDateFrom" />
        Dato Til <input type="text" asp-for="@Model.SearchDateTo" />
    </form>
</div>

<div class="row d-flex justify-content-evenly gap-5">

    @foreach (var SommerHuse in Model.Huse)
    {
        {
                <div class="card my-2 p-2 d-flex cardSpecial">
                    <div>
                        <div class="col-12 justify-content-center">
                            <img class="card-img-top cardSpecialIMG" src="@SommerHuse.Picture">
                        </div>

                        <div class="card-subtitle my-2">
                            <h2 id="outputLocation">@SommerHuse.City</h2>
                            <h4 id="outputPrice">@SommerHuse.StreetName</h4>
                            <h4 id="outputPrice">@SommerHuse.DateFrom</h4>
                            <h4 id="outputPrice">@SommerHuse.DateTo</h4>
                            <h4 id="outputPrice">@SommerHuse.Price</h4>
                        </div>
                        <div class="card-body text-black">
                            <h5>@SommerHuse.Description</h5>
                            <p id="outputText"></p>
                            <div class="d-flex justify-content-around text-white">
                                <a asp-page="/BookingSite/Index" asp-route-summerhouseId="@SommerHuse.Id" class="btn btn-outline-dark rounded-pill" style="background: #DEE50F; border: 2px dimgrey; width: 50%;">Se Mere</a>

                            </div>
                        </div>
                    </div>
                </div>

        }
    }
</div>
