@page
@model SommerhusSite.Pages.AdminSite.DeleteUserModel
@{
}

<h1> Er du sikker på du vil slette denne kunde? </h1>

@* Display af valgte kunde som skal slettes, og 2 knappper, en til at fortyde og en anden til at slette *@
<div class="form-selectt searchform rounded-2">
    <form method="post">
        <div class="row">
            <div class="col">
                <label>Kunde nummer</label> : @Model.User.Id
            </div>
            <div class="col">
                <label>Fornavn</label> : @Model.User.FirstName
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Efternavn</label>  : @Model.User.LastName
            </div>
            <div class="col">
                <label>Email</label>  : @Model.User.Email
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Telefon</label>  : @Model.User.Phone
            </div>
        </div>
        <input type="submit" value="Slet Kunde" class="btn btn-danger" asp-page-handler="Delete" asp-route-id="@Model.User.Id" />
        <input type="submit" value="Fortryd" class="btn btn-warning" asp-page-handler="Cancel" />
    </form>
</div>


