@page
@using SommerHusProjekt.Model07
@using SommerhusSite.Services
@model SommerhusSite.Pages.AdminSite.UpdateSummerHouseModel
@{
    //Skal stadig opdateres
    SummerHouse chosenHouse = SessionHelper.Get<SummerHouse>(HttpContext);
}


<form method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="justify-content-center d-flex" style="padding-bottom: 1.5em;">
                    <div class="card p-2 d-flex cardSpecial">
                        <div class="PreviewCardBox-Header">
                            <span>Preview Card</span>
                        </div>
                        <div class="col-md-12 justify-content-center">
                            <span asp-validation-for="NewSummerHousePicture" class="text-danger"></span>
                            @if (!string.IsNullOrEmpty(chosenHouse.Picture))
                            {
                                <img class="card-img-top cardSpecialIMG" src="data:image/jpeg;base64,@chosenHouse.Picture" />
                            }
                            else
                            {
                                <img class="card-img-top cardSpecialIMG" src="default-placeholder.png" alt="No image available" />
                            }
                        </div>
                        <div class="card-subtitle my-2">
                            <h2 id="outputLocation"></h2>
                            <h4 id="outputPrice"></h4>
                        </div>
                        <div class="card-body text-black">
                            <h5>Beskrivelse:</h5>
                            <p id="outputText"></p>
                            <div class="d-flex justify-content-around text-white">
                                <a class="btn btn-outline-dark rounded-pill" style="background: #DEE50F; border: solid 2px dimgrey; width: 50%;">Se Mere</a>
                            </div>
                        </div>
                        <h4 class="d-flex justify-content-center">Indsæt Billede Fil</h4>
                        <div class="col-12">
                            <span asp-validation-for="NewSummerHousePicture" class="text-danger"></span>
                            <input class="card-img-top rounded-2" style="width: 100%; height: 14em; justify-content: center;" type="file" id="imageInput" asp-for="NewSummerHousePicture" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="container CreateBox" style="padding-top: 15px; padding-left: 15px;">
                    <div class="Application-header">
                        <span class=" d-flex justify-content-center">Opdater sommerhus</span>
                    </div>
                    <h4 class="d-flex justify-content-center" style="padding-top: 40px;">Sommerhuset Lokation</h4>
                    <div class="row d-flex" style="padding-top: 15px;">
                        <div class="col-8">
                            <input id="inputCity" placeholder="By" class="form-control" oninput="displayLocation()" /><br />
                        </div>
                        <div class="col-4">
                            <span asp-validation-for="NewSummerHousePostalCode" class="text-danger"></span>
                            <input class="form-control" placeholder="Postnummer" id="inputPostalcode" type="text" oninput="displayLocation()" asp-for="NewSummerHousePostalCode" /><br />
                        </div>
                        <div class="col-6">
                            <span asp-validation-for="NewSummerHouseStreetName" class="text-danger"></span>
                            <input class="form-control" placeholder="Vej Navn" asp-for="NewSummerHouseStreetName" /><br />
                        </div>
                        <div class="col-3">
                            <span asp-validation-for="NewSummerHouseHouseNumber" class="text-danger"></span>
                            <input class="form-control" placeholder="Vej Nr." asp-for="NewSummerHouseHouseNumber" /><br />
                        </div>
                        <div class="col-3">
                            <span asp-validation-for="NewSummerHouseFloor" class="text-danger"></span>
                            <input class="form-control" placeholder="Etage" asp-for="NewSummerHouseFloor" /><br />
                        </div>
                    </div>
                    <div class="row d-flex">
                        <div class="col-6">
                            <h4 class="d-flex justify-content-center">Pris Pr. Dag</h4>
                            <div class="col-12" style="margin-top: 32px;">
                                <span asp-validation-for="NewSummerHousePrice" class="text-danger"></span>
                                <input class="form-control" placeholder="Pris Pr. Dag" type="number" id="inputPrice" oninput="displayPrice()" asp-for="NewSummerHousePrice" /><br />
                            </div>
                            <h4 class="d-flex justify-content-center" style="margin-top: 10px;">Beskrivelse</h4>
                            <div class="col-12">
                                <span asp-validation-for="NewSummerHouseDescription" class="text-danger"></span>
                                <input class="form-control" placeholder="Beskrivelse" id="inputText" type="text" oninput="displayText()" asp-for="@Model.NewSummerHouseDescription" /><br />
                            </div>
                        </div>
                        <div class="col-6 flex-column">
                            <h4 class="d-grid justify-content-center">Udlejnings Periode</h4>
                            <div class="mb-3">
                                <label>Dato Fra</label><br />
                                <span asp-validation-for="@Model.NewSummerHouseFromDate" class="text-danger"></span>
                                <input type="date" class="form-control" asp-for="@Model.NewSummerHouseFromDate" value="2024-01-01"><br />
                            </div>
                            <h4 class="d-gridjustify-content-center"></h4>
                            <div class="mb-3">
                                <label>Dato Til</label><br />
                                <span asp-validation-for="@Model.NewSummerHouseToDate" class="text-danger"></span>
                                <input type="date" class="form-control" asp-for="@Model.NewSummerHouseToDate" value="2024-01-01"><br />
                            </div>
                        </div>
                        <div class="d-flex justify-content-evenly" style="padding-bottom: 15px;">
                            <div class="col-6 d-flex justify-content-center">
                                <input type="submit" value="Opdater Sommerhus" asp-page-handler="Change" asp-route-id="@Model.NewSummerHouseId" class="btn btn-primary " />
                            </div>
                            <div class="col-6 d-flex justify-content-center">
                                <input type="submit" value="Fortryd" class="btn btn-outline-danger" asp-page-handler="Cancel" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>





<script>
    function displayText() {
        var inputText = document.getElementById("inputText").value;

        var outputElement = document.getElementById("outputText");

        outputElement.innerHTML = inputText;
    }
</script>

<script>
    function displayLocation() {
        var city = document.getElementById("inputCity").value;
        var postalCode = document.getElementById("inputPostalcode").value;

        var outputElement = document.getElementById("outputLocation");

        outputElement.textContent = postalCode + " " + city;
    }
</script>

<script>
    function displayPrice() {
        var inputPrice = parseFloat(document.getElementById("inputPrice").value);

        var outputElement = document.getElementById("outputPrice");

        outputElement.textContent = "Kr. " + inputPrice.toFixed(2) + " Pr. Dag";
    }
</script>